<script id="bootstrap-current-user" type="text/javascript">

  <% if logged_in? %>
  	window.currentUser = <%= render("api/users/show.json.jbuilder",
  		user: current_user).html_safe %>
  <% end %>

  window.images = {
      cloud_icon: "<%= image_path('cloud_icon.png') %>",
    }

</script>

<div id='root'></div>
